<a href="{{ url }}">
  <img
    alt="{{ badge.name }}"
    src="https://img.shields.io/badge/{{ badge.name }}-{{ badge.color }}?logo={{ logo.name }}&logoColor={{ logo.color }}&style={{ badge.style }}#{{ contextHash }}"
  />
</a>